*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}
h1{
  font-size: 5rem;
}
button{
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: aqua;
  border: none;
}